= simple_form_for(@profile) do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@profiles.errors.count, "error")
        prohibited this subject from being saved:
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg
  %br/
  /
    <div class="actions">
    <haml_loud> f.button :submit, "Guardar", :class => 'btn btn-success' </haml_loud>
    </div>
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h3.panel-title.text-info.text-center
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
            Datos personales
      #collapseOne.panel-collapse.collapse
        .panel-body{style: "margin-left: 150px;"}
          %table
            %tr
              %td

                = f.input :nombre, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :apellido_paterno, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}
  
                = f.input :apellido_materno, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}
                
                %label{for: ""} Fotografia:
                %input{id: "", required: "required", type: "file"}/
                %br/
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    Genero
                    %span.caret{required: "required"}
                  %ul.dropdown-menu{role: "menu"}
                    %li
                      %a{href: "#"} Masculino
                    %li
                      %a{href: "#"} Femenino
                %br/
               
                = f.input :rfc, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}  
                
                = f.input :nss, :placeholder => "Ingresa tu numero de servicio social", :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

    .panel.panel-default
      .panel-heading
        %h3.panel-title.text-info.text-center
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
            Informacion institucional
      #collapseTwo.panel-collapse.collapse{style: "margin-left: 150px ;"}
        .panel-body{style: "margin-left: 30px;"}
          %table
            %tr
              %td
                = f.input :numero_control, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}  
                
                %label{for: ""} Carrera
                %br/
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    Elige una opcion
                    %span.caret
                  %ul.dropdown-menu{role: "menu"}
                    %li
                      %a{href: "#"} Tercnologias de la informacion
                    %li
                      %a{href: "#"} Agrobiotecnologia
                    %li
                      %a{href: "#"} Paramedico
                    %li
                      %a{href: "#"} Tecnologia en alimentos
                %br/
                %label{for: ""} Situacion
                %br/
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    Elige una opcion
                    %span.caret
                  %ul.dropdown-menu{role: "menu"}
                    %li
                      %a{href: "#"} Sistema escolarizado
                    %li
                      %a{href: "#"} Sistema no escolarizado
                %br/
                = f.input :numero_control, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                %label{for: ""} Grupo
                %input.form-control{type: "text"}/
                %label{for: ""} Turno
                %input.form-control{type: "text"}/
    .panel.panel-default
      .panel-heading
        %h3.panel-title.text-info.text-center
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
            Informacion institucional
      #collapseThree.panel-collapse.collapse{style: "margin-left: 150px ;"}
        .panel-body{style: "margin-left: 30px;"}
          %table
            %tr
              %td
                = f.input :telefono, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :celular, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :correo_electronico, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :cp, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :calle, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :numero_exterior, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :numero_inteior, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                
                = f.input :numero_departamento, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}
                
                = f.input :referencias, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :comentarios, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :poblacion, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}

                = f.input :estado, :autofocus => true, :input_html => {:size => 20, :class => 'form-control'}
              %br/
            %br/
      .actions
        = f.button :submit, "Guardar", :class => 'btn btn-success'