= simple_form_for(@profile) do |f|
  / - if @profile.errors.any?
  /   #error_explanation
  /     %h2
  /       = pluralize(@profiles.errors.count, "error")
  /       prohibited this subject from being saved:
  /     %ul
  /       - @profile.errors.full_messages.each do |msg|
  /         %li= msg
  %br/
  /
    <div class="actions">
    <haml_loud> f.button :submit, "Guardar", :class => 'btn btn-success' </haml_loud>
    </div> 
  #accordion.panel-group{align: "center"} 
    .panel.panel-default{align: "left", style: "width: 400px ;"} 
      .panel-heading
        %h3.panel-title.text-info.text-center
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#Uno"}
            Datos personales
      #Uno.panel-collapse.collapse
        .panel-body
          %table
            %tr
              %td

                = f.input :nombre, label: 'Nombre:' ,:placeholder => "Ingresa tu(s) Nombre(s)", :autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :apellido_paterno, label: 'Apellido paterno:' , :autofocus => true, :input_html => {:class => 'form-control'}
  
                = f.input :apellido_materno, label: 'Apellido materno:' , :autofocus => true, :input_html => {:class => 'form-control'}
                
                %label{for: ""} Fotografía:
                %input{id: "", type: "file"}

                %label{for: ""} Género
                %br/
                %select
                  %option{value: "Masculino"} Masculino
                  %option{value: "Femenino"} Femenino
                %br/
               
                = f.input :rfc,label: 'RFC:',:placeholder => "Ingresa tu RFC ", :autofocus => true, :input_html => {:class => 'form-control'}  
                
                = f.input :nss, label: 'NSS:' ,:placeholder => "Ingresa tu numero de servicio social", :autofocus => true, :input_html => {:class => 'form-control'}
    .panel.panel-default{align: "left", style: "width: 400px ;"}  
      .panel-heading
        %h3.panel-title.text-info.text-center
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#Dos"}
            Información institucional
      #Dos.panel-collapse.collapse
        .panel-body
          %table
            %tr
              %td
                = f.input :numero_control, label: 'Número de control:' ,:autofocus => true, :input_html => {:class => 'form-control'}  
                
                %label{for: "carrera"} Carrera
                %br/
                %select
                  %option{value: "Ticsi"} Tecnologías de la información
                  %option{value: "Conta"} Contaduría
                  %option{value: "Admon"} Administración
                  %option{value: "Paramédico"} Paramédico
                  %option{value: "Agro"} Agrobiotecnología
                  %option{value: "Alimentos"} Tecnologías en alimentos
                %br/
                %label{for: "situacion"} Situación escolar
                %br/
                %select
                  %option{value: "Sistema escolarizado"} Sistema escolarizado
                  %option{value: "Sistema no escolarizado"} Sistema no escolarizado
                %br/
                %label{for: "grupo"} Grupro
                %br/
                %select
                  %option{value: "a"} A
                  %option{value: "b"} B
                  %option{value: "c"} C
                  %option{value: "d"} D
                  %option{value: "e"} E
                  %option{value: "f"} F
                  %option{value: "e"} G
                  %option{value: "f"} H
                %br/
                %label{for: "turno"} Turno
                %br/
                %select
                  %option{value: "Matutino"} Matutino
                  %option{value: "Vespertino"} Vespertino
    .panel.panel-default{align: "left", style: "width: 400px ;"} 
      .panel-heading
        %h3.panel-title.text-info.text-center
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#Tres"}
            Información de contacto
      #Tres.panel-collapse.collapse
        .panel-body
          %table
            %tr
              %td
                = f.input :telefono, label: 'Teléfono:' ,:autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :celular, label: 'Celular:' ,:autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :cp, label: 'CP:' ,:autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :calle, label: 'Calle:' ,:autofocus => true, :input_html => { :class => 'form-control'}

                = f.input :numero_exterior, label: 'Número exterior:' ,:autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :numero_interior, label: 'Número interior:' , :autofocus => true, :input_html => {:class => 'form-control'}

                
                = f.input :numero_departamento, label: 'Número de departamento:' ,:autofocus => true, :input_html => {:class => 'form-control'}
                
                = f.input :referencias, :autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :comentarios, label: 'Comentarios:' ,:autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :poblacion, label: 'Población:' , :autofocus => true, :input_html => {:class => 'form-control'}

                = f.input :estado, label: 'Estado:' ,:autofocus => true, :input_html => {:class => 'form-control'}
              %br/
            %br/
      .actions
        = f.button :submit, "Guardar", :class => 'btn btn-success'