

<div class="container">
  <div class="row clearfix">
  <h3 class="text-center text-success">
       Lista de materias
</h3>
    <div class="col-md-20 column">
                <div class = "navbar navbar-inverse navbar-static-top">
                        <div class = "container">
                               
                                <a href = "#" class = "navbar-brand">Materias</a>
                    
                                <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                                        <ul class = "nav navbar-nav navbar-right">
                                       
                                                <li class = "active"><a href = "#">Inicio</a></li>
                                                <li><a href = "#">Cursos</a></li>
                                                <li class = "dropdown">
                                                       
                                                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Grupos <b class = "caret"></b></a>
                                                        <ul class = "dropdown-menu">
                                                                <li><a href = "#">4 A</a></li>
                                                                <li><a href = "#">6 A</a></li>
                                                                <li><a href = "#">10 A</a></li>
                                                                <li><a href = "#">10 B</a></li>
                                                        </ul>
                                               
                                                </li>
                                                <li><a href = "#">Cursos</a></li>
                                                <li><a href = "#">Asistencia</a></li>
                                       
                                        </ul>
                               
                                </div>
                               
                        </div>
                </div>
      <table class="table table-hover">
        <thead> 
          <tr>
            <th>
              Nombre de la materia
            </th>
            <th>
             Descripcion
            </th>
            <th>
              Opciones
            </th>
          </tr>
        </thead>
        <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td>
                <%= subject.name %>
              </td>
              <td>
                <%= subject.description %>
              </td>
              <td>
                <%= link_to 'Detalles', subject , remote: true, data: {toggle: "modal"}, :class => 'btn btn-info', :role => 'button'%>
                
              </td>
              <td>
                  <%= link_to 'Editar', edit_subject_path(subject), :class => 'btn btn-info', :id => "editar-btn" %>

              </td>
              <td>
                <%= link_to 'Eliminar', subject, :class => 'btn btn-info', method: :delete, data: { confirm: 'Esta seguro?' }  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
<div class="modal fade" id="subject-details" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      Datos de la materia
      </div>
        <div class="modal-body">
        <p>
          <strong>Name:</strong>
        </p>

        <p>
          <strong>Description:</strong>
        </p>

        </div>
  </div>

  </div>

</div>

      <div class="colspan20" align="center">
         <ul class="pagination">
          <li>
            <a href="#">Anterior</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li>
            <a href="#">Siguiente</a>
          </li>
        </ul>
      </div>
      
      <div class="colspan14">
     
        <%= link_to 'Agregar materia', new_subject_path, :class => 'btn btn-success' %>
        <%= link_to 'Cerrar sesion', destroy_user_session_path(), method: :delete, :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div> 
<!--
<head>
	<meta charset="utf-8" />
		<h3 class="text-center text-success">
		Completa tu perfil
		</h3>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="col-md-12 column">
	 <a id="modal-316790" href="#modal-container-316790" role="button" class="btn" data-toggle="modal">Completa tu perfil
	 </a>


<div class="jumbotron">

	   <div class="modal fade" id="modal-container-316790" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
              <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title text-info text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Datos personales
                        </a>
                      </h3>
                    </div>
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body" style="margin-left: 150px;">
                          <table>
                                <tr>
                                  <td>
                                    <label for="">Nombre: </label>
                                    <input class="form-control" type="text" placeholder="Ingresa tu(s) nombre(s)" required="required" />

                                    <label for="">Apellido Paterno:</label>
                                    <input class="form-control" type="text"  placeholder="Ingresa primer apellido" required="required" />

                                    <label for="">Apellido Materno:</label>
                                    <input class="form-control" type="text"  placeholder="Ingresa tu segundo apellido" required="required"/>                  

                                    <label for="">Fotografia: </label>
                                    <input id="" type="file" required="required" /> <br>   

                                    <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Genero <span class="caret" required="required"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Masculino</a></li>
                                    <li><a href="#">Femenino</a></li>
                                    </ul>
                                    </div> 
                                    <br>
                                    <br>

                                    <label for="">RFC</label>
                                    <input class="form-control" type="text"  placeholder="RFC" required="required" />

                                    <label for="">NSS</label>
                                    <input class="form-control" type="text" placeholder="Ingresa tu numero de servicio social" required="required"/>

                                  </td>
                                </tr>
                          </table> 
                        </div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title text-info text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          Informacion institucional
                        </a>
                      </h3>
                    </div>
                    <div id="collapseTwo"  class="panel-collapse collapse" style="margin-left: 150px ;">
                      <div class="panel-body" style="margin-left: 30px;">
                        <table>
                          <tr>
                            <td>
                              <label for="">Matricula</label>
                              <input class="form-control" type="text"   placeholder="Matricula" />  <br>        
                            
                              <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Carrera
                                 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Tercnologias de la informacion</a></li>
                                  <li><a href="#">Agrobiotecnologia</a></li>
                                  <li><a href="#">Paramedico</a></li>
                                  <li><a href="#">Tecnologia en alimentos</a></li>
                                </ul>
                              </div> <br> <br>

                              <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  Situacion
                                   <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Sistema escolarizado</a></li>
                                    <li><a href="#">Sistema no escolarizado</a></li>
                                  </ul>
                              </div> <br> <br>
                            

                               <label for="">Grado</label>
                               <input class="form-control" type="text" />
                               <label for="">Grupo</label>
                               <input class="form-control" type="text" />
                           
                              <label for="">Turno</label>
                              <input class="form-control" type="text" />
                            </td>
                          </tr>
                          </table>
                      </div>
                    </div>

                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title text-info text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          Informacion institucional
                        </a>
                      </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" style="margin-left: 150px ;">
                      <div class="panel-body" style="margin-left: 30px;">
                        <table>
                                <tr>
                                    <td>
                                      <label for="">Telefono</label>
                                       <input class="form-control" type="text"  placeholder="Incluye  lada" />

                                      <label for="">Celular</label>
                                      <input class="form-control" type="text"  placeholder="Incluye lada" />

                                       <label for="">Correo electronico</label>
                                       <input class="form-control" type="text"  placeholder="micorreo@ejemplo.com" />

                                       <label for="">Codigo postal</label>
                                       <input class="form-control" type="number"  placeholder="00000" />

                                      <label for="">Calle</label>
                                      <input class="form-control" type="text" placeholder="Ingresa el nombre de la calle donde vives" />

                                      <label for="">Numero exterior</label>
                                      <input class="form-control" type="text" />

                                      <label for="">Numero interior</label>
                                      <input class="form-control" type="text" />
                                    
                                
                                      <label for="">Numero de departamento</label>
                                      <input class="form-control" type="text" />
                                      
                                      <label for="">Referencias</label>
                                      <input class="form-control" type="text" />
                                      
                                      <label for="">Comentarios</label>
                                      <input class="form-control" type="text" />
                               
                                      <label for="">Poblacion</label>
                                      <input class="form-control" type="text" />              
                                      
                                      <label for="">Estado</label>
                                      <input class="form-control" type="text" />
                                    <br>
                                </tr> <br>
                        </table> 
                      </div>
                    </div>
                  </div>

                </div>
                <br>
	        <%= link_to 'Aceptar', @subject ,:class => 'btn btn-info' %> 
        <%= link_to 'Cancelar', subjects_path ,:class => 'btn btn-warning' %> 
     
        </div>
        </div>





</body>