   
<div class="col-md-12 column">
	<a id="modal-316790" href="#modal-container-316790" role="button" class="btn" data-toggle="modal">Detalles
	</a>

	<div class="modal fade" id="modal-container-316790" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				Datos de la materia
				</div>
					<div class="modal-body">
					<p>
					  <strong>Name:</strong>
					  <%= @subject.name %>
					</p>

					<p>
					  <strong>Description:</strong>
					  <%= @subject.description %>
					</p>

					</div>
				<div class="modal-footer">
			<%= link_to 'Editar', edit_subject_path(@subject), :class => 'btn btn-info', :id => "editar-btn" %>
			<%= link_to 'Cancelar', subjects_path ,:class => 'btn btn-warning' %> 
			</div>
		</div>

		</div>

	</div>

</div><p id="notice"><%= notice %></p>

